################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IndiaEventsWebApi/FileContentIndex
/.vs/IndiaEventsWebApi/v17/.suo
/.gitignore
/IndiaEventsWebApi/obj/Debug/net6.0/IndiaEventsWebApi.csproj.AssemblyReference.cache
/IndiaEventsWebApi/obj/Debug/net6.0/ref/IndiaEventsWebApi.dll
/IndiaEventsWebApi/obj/Debug/net6.0/refint/IndiaEventsWebApi.dll
/IndiaEventsWebApi/bin/Debug/net6.0/IndiaEventsWebApi.pdb
/IndiaEventsWebApi/bin/Debug/net6.0/IndiaEventsWebApi.dll
/IndiaEventsWebApi/obj/Debug/net6.0/IndiaEventsWebApi.pdb
/IndiaEventsWebApi/obj/Debug/net6.0/IndiaEventsWebApi.dll
/IndiaEventsWebApi/obj/Debug/net6.0/IndiaEventsWebApi.csproj.AssemblyReference.cache
