################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IndiaEventsWebApi/FileContentIndex
/.vs/IndiaEventsWebApi/v17/.suo
/.gitignore
/IndiaEventsWebApi/obj/Debug/net6.0/IndiaEventsWebApi.csproj.AssemblyReference.cache
