<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>			
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
	<!--<system.web>
		<httpRuntime executionTimeout="600" />
	</system.web> -->

</configuration>